@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

/* ------ INDEX ------*/

/* barra superior "info covid" */
.infocovid{
	background-color: #bb089a;
	max-width: 100%;
	height: 30px;
}

.infocovid button{
	color: #FFFFFF;
	text-decoration: none;
	top: 2px;
	cursor: pointer;
	font-size: 13px;
	border-style: none;
}

.infocovid button:hover{
	font-size: 1em;
}

/* ventana modal info covid */
.modal-content{
	width: 70%;
	height: 70%; 
	display:block;
	margin:auto;
}

.modal-content img{
	width: 100%;
	height: 100%;
}

/* navegador */
.navbar{
	background-color: #FFF2FA;
	color: #000000;
	text-decoration: none;
	min-height: 100px;
}

.nav-link{
	color: #000000;
	font-size: 18px;
	text-align: left;
}

.dropdown-item:hover{
  color: #bb089a !important;
  background: rgba(0,0,0,0);
  border: 2px solid;
  font-size: 20px;
  border-color: #bb089a;
  transition: all 1s ease;
}


.dropdown:hover>.dropdown-menu{
	display: block;
	color: #bb089a;
    background: rgba(255,255,255,0.9);
    border: 2px solid;
    font-size: 20px;
    border-color: #bb089a;
    transition: all 1s ease;
}

.dropdown>.dropdown-item:active{
	color: #bb089a;
    background: rgba(255,255,255,0.9);
}


.logo-brand{
	min-width: 140px;
	max-width: 160px;
}

/* Linea divisora */
.linea {
  border-top: 1px;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto 0 auto;
  background-color: #bb089a;
}

/* Banner1 */
#banner{
	background-image: url("../imagenes/banner1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.9;
	/*padding-bottom: 90px;*/
	min-height: 468px;
	color: #ffffff;
	width: 100%;
}

.content-center{
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}

.content-center h1{
	font-size: 60px;
	font-weight: 600;
	line-height: 60px;
	color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 140px;
}

.content-center p{
	font-size: 20px;
	color: #ffffff;
	line-height: 1.8;
	margin-bottom: 20;
}

.boton-banner{
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;
	background-color: rgba(255,255,255,0);
	color: #ffffff;
	border:2px solid #ffffff;
}


.boton-banner:hover{
  color: #ffffff !important;
  background: rgba(255,255,255,0);
  border: 2px solid;
  font-size: 20px;
  border-color: #ffffff;
  transition: all 1s ease;
}

/* Banner2 */
#banner2{
	background-image: url("../imagenes/banner2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.9;
	/*padding-bottom: 90px;*/
	min-height: 468px;
	color: #ffffff;
	width: 100%;
}

.content-center{
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}

.content-center h1{
	font-size: 60px;
	font-weight: 600;
	line-height: 60px;
	color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 140px;
}

.content-center p{
	font-size: 20px;
	color: #ffffff;
	line-height: 1.8;
	margin-bottom: 20;
}

.boton-banner2{
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;
	background-color: rgba(255,255,255,0);
	color: #ffffff;
	border:2px solid #ffffff;
}


.boton-banner2:hover{
  color: #ffffff !important;
  background: rgba(255,255,255,0);
  border: 2px solid;
  font-size: 20px;
  border-color: #ffffff;
  transition: all 1s ease;
}


/* seccion1 */
.section1 {
	width: 100%;
	height: 100%;
	background: #fff;
	background-attachment: scroll;
	padding: 25px 60px 30px 60px;   /* top right bottom left*/
}
.section1 h2{
	text-align: center;
}

.boton-rosado{
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;
	background-color: rgba(187,8,154,0);
	color: #bb089a;
	border:2px solid #bb089a;
}

.boton-rosado:hover{
  color: #bb089a !important;
  background: rgba(187,8,154,0);
  border: 2px solid;
  font-size: 20px;
  border-color: #bb089a;
  transition: all 1s ease;
}

.bienvenida{
	font-size: 25px;
	padding-top: 70px;
	font-family: Sackers Classic Roman Std Light;
}

.linea-animada{
	padding-bottom: 50px;
}

.mensaje{
	
	font-family: Sackers Classic Roman Std Light;
	font-size: 17px;
	text-align: center;
	
}

/* Carousel opiniones */
.carousel-control-prev img{
	max-width: 40px;
	max-height: 40px;
}

.carousel-control-next img{
	max-width: 40px;
	max-height: 40px;
}

/* Links */
.links a{
	color: black;
	text-decoration:none;
}

.links a:hover {
  color: #bb089a !important;
  transition: all 0.5s ease;
}

/* Footer */
.page-footer{
	width: 100%;
	height: 100%;
	background: #FFF2FA;
}

/* ------ PRODUCTOS ------*/
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background: #FFF;
}
.col-item:hover
{ 
  box-shadow: 0px 2px 5px -1px #000;
  -moz-box-shadow: 0px 2px 5px -1px #000;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  border-bottom:2px solid #52A1D5;        
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    padding: 1px;
    border-radius: 10px 10px 0 0 ;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item .price
{
    /*width: 50%;*/
    align-content: center;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.price-text-color
{	
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
    
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/*
Hover the image
*/
.post-img-content
{
    height: 196px;
    position: relative;
}
.post-img-content img
{
    position: absolute;
    padding: 1px;
    border-radius: 10px 10px 0 0 ;
}
.post-title{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post-title b{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 12px;
}
.post-title b:first-child{
    font-size: 14px;
}
.round-tag{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #FFF;
    background: #37A12B;
    position: absolute;
    bottom: 0px;
    padding: 15px 6px;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
}





/* ------ COMO COMPRAR? ------*/

.titulo-compra{
	font-family: courier,arial,helvética;
	text-align: center;
	padding-top: 60px;
	font-size: 2em;
}
	
.subtitulo-compra{
	text-align: left;
	font-weight: bold;
	padding-top: 60px;
}

.contenido-compra{
	text-align: left;
}


/* ------ CONTACTO ------*/
.contacto{
	max-width: 31.25em;

}

.titulo-contacto{
	font-family: Sackers Classic Roman Std Light;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;
	font-weight: 100;
}

.form-control{
	text-align: left;
	max-width: 31.25em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: #bb089a;
}

small{
	color: #ff0000;
	text-align: left;
}

/* ventana modal valiacion contacto */
.modal_wrap{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

	display: flex;
	justify-content: center;
	align-items: center;
}

.mensaje_modal{
	background: #fff;
	box-shadow: 0px 8px 15px rgba(0,0,0,0.5);
	width: 400px;
	padding: 30px 20px 15px;
}

.mensaje_modal h3{
	text-align: center;
	font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #c5c5c5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
	font-size: 16px,
	color:#606060;
}

.mensaje_modal p:before{
	content: "\f00d";
	font-family: FontAwesome;
	display: inline-block;
	color: #E25151;
	margin-right: 8px;
}

#btnClose{
	display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}

}



/* Media Queries */
@media (max-width: 575.98px) {...}


@media (max-width: 767.98px) {...}


@media (max-width: 991.98px) {...}


@media (max-width: 1199.98px) { ... }

